
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header">
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<nav th:replace="layouts :: navbar" ></nav>
<div>
	<h4>Current Projects</h4>
		<table class="table table-borderd table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
					<th>Discription</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="aproj : ${projects}">
					<td th:text= "${aproj.name}">
					<td th:text="${aproj.stage}"> 
					<td th:text="${aproj.description}">
				</tr>
			</tbody>
		</table>

</div>
<br><br>
<div>
	<h4>Current Employees</h4>
		<table class="table table-borderd table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Firstname</th>
					<th>LastName</th>
					<th>Email</th>
				<tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text= "${emp.firstname}">
					<td th:text="${emp.lastname}">
					<td th:text="${emp.email}"> 
				</tr>
			</tbody>
		</table>
<a th:text= "${version}" ></a>		
</body>
</div>
<div class="col-md-4" >
	<canvas id="Mychart" height="50" width="50"></canvas>
		<script type="text/javascript">
			var chartdata="[[${projectsStatus}]]"
			
		</script>	
</div>
 <script type="text/javascript" th:src="@{js/Mychart.js}"></script>
</html>