<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

	<header th:replace="layouts :: header"></header>
<body>
		<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="POST">
		
		<input type="text" placeholder="Emplotee EirstName" th:field="${employee.firstname}">
		
		<input type="text" placeholder="Emplotee Lastname" th:field="${employee.lastname}">
		
		<input type="text" placeholder="E-mail address" th:field="${employee.email}">
		
		<button type="submit">Create emplotee</button>
		
		</form>
	</div>
	
</body>

</html>